<?xml version="1.0" encoding="UTF-8"?>
<!-- DRC drcnet.com.br - site estatico (Locaweb/IIS).
     301 de TODAS as URLs do WordPress antigo (SEO preservado) + canonico www. -->
<configuration>
  <system.webServer>
    <rewrite>
      <rewriteMaps>
        <rewriteMap name="Redirects301">
          <add key="/perfuracao-de-solos-construcao-de-redes" value="/#empresa" />
          <add key="/perfuracao-de-solos-construcao-de-redes/" value="/#empresa" />
          <add key="/perfuracao-direcional-perfuratriz" value="/#frota" />
          <add key="/perfuracao-direcional-perfuratriz/" value="/#frota" />
          <add key="/tecnologia-em-perfuracao" value="/#como" />
          <add key="/tecnologia-em-perfuracao/" value="/#como" />
          <add key="/obras-e-projetos" value="/obras-realizadas/" />
          <add key="/obras-e-projetos/" value="/obras-realizadas/" />
          <add key="/construcao-de-gasodutos-e-oleodutos-perfuracao" value="/#segmentos" />
          <add key="/construcao-de-gasodutos-e-oleodutos-perfuracao/" value="/#segmentos" />
          <add key="/construcao-de-redes-de-energia-eletrica-perfuracao" value="/#segmentos" />
          <add key="/construcao-de-redes-de-energia-eletrica-perfuracao/" value="/#segmentos" />
          <add key="/construcao-de-redes-de-infraestrutura-perfuracao" value="/#segmentos" />
          <add key="/construcao-de-redes-de-infraestrutura-perfuracao/" value="/#segmentos" />
          <add key="/construcao-de-redes-de-saneamento-perfuracao" value="/#segmentos" />
          <add key="/construcao-de-redes-de-saneamento-perfuracao/" value="/#segmentos" />
          <add key="/construcao-de-redes-de-telefonia-perfuracao" value="/#segmentos" />
          <add key="/construcao-de-redes-de-telefonia-perfuracao/" value="/#segmentos" />
          <add key="/remediacao-do-solo-por-perfuracao" value="/#segmentos" />
          <add key="/remediacao-do-solo-por-perfuracao/" value="/#segmentos" />
          <add key="/investigacao-solos-aguas-perfuracao" value="/#segmentos" />
          <add key="/investigacao-solos-aguas-perfuracao/" value="/#segmentos" />
          <add key="/escopo-do-sistema-de-gestao" value="/politicas.html#escopo" />
          <add key="/escopo-do-sistema-de-gestao/" value="/politicas.html#escopo" />
          <add key="/politica-ambiental" value="/politicas.html#ambiental" />
          <add key="/politica-ambiental/" value="/politicas.html#ambiental" />
          <add key="/politica-de-qualidade" value="/politicas.html#qualidade" />
          <add key="/politica-de-qualidade/" value="/politicas.html#qualidade" />
          <add key="/politica-de-saude-e-seguranca" value="/politicas.html#sso" />
          <add key="/politica-de-saude-e-seguranca/" value="/politicas.html#sso" />
          <add key="/canal-de-comunicacao-drc" value="/canal-de-comunicacao.html" />
          <add key="/canal-de-comunicacao-drc/" value="/canal-de-comunicacao.html" />
          <add key="/contato" value="/#contato" />
          <add key="/contato/" value="/#contato" />
          <add key="/orcamento" value="/#contato" />
          <add key="/orcamento/" value="/#contato" />
          <add key="/localizacao" value="/#contato" />
          <add key="/localizacao/" value="/#contato" />
          <add key="/trabalhe-conosco" value="/#contato" />
          <add key="/trabalhe-conosco/" value="/#contato" />
          <add key="/enviado-sucesso" value="/" />
          <add key="/enviado-sucesso/" value="/" />
          <add key="/enviado-trabalhe-conosco" value="/" />
          <add key="/enviado-trabalhe-conosco/" value="/" />
          <add key="/concessionaria-ecovias-dos-imigrantes-sa" value="/obras-realizadas/" />
          <add key="/concessionaria-ecovias-dos-imigrantes-sa/" value="/obras-realizadas/" />
          <add key="/concessionaria-ecovias-dos-imigrantes-sa-2" value="/obras-realizadas/" />
          <add key="/concessionaria-ecovias-dos-imigrantes-sa-2/" value="/obras-realizadas/" />
          <add key="/consorcio-encalso-sa-paulista-sempar" value="/obras-realizadas/" />
          <add key="/consorcio-encalso-sa-paulista-sempar/" value="/obras-realizadas/" />
          <add key="/consorcio-engibras-criciuma" value="/obras-realizadas/" />
          <add key="/consorcio-engibras-criciuma/" value="/obras-realizadas/" />
          <add key="/consorcio-sacsccg" value="/obras-realizadas/" />
          <add key="/consorcio-sacsccg/" value="/obras-realizadas/" />
          <add key="/construtel-projetos-e-construcoes-ltda" value="/obras-realizadas/" />
          <add key="/construtel-projetos-e-construcoes-ltda/" value="/obras-realizadas/" />
          <add key="/contreras-engenharia-e-construcoes" value="/obras-realizadas/" />
          <add key="/contreras-engenharia-e-construcoes/" value="/obras-realizadas/" />
          <add key="/cosate-construcoes-saneamento-e-engenharia-ltda" value="/obras-realizadas/" />
          <add key="/cosate-construcoes-saneamento-e-engenharia-ltda/" value="/obras-realizadas/" />
          <add key="/elecnor-do-brasil-s-a" value="/obras-realizadas/" />
          <add key="/elecnor-do-brasil-s-a/" value="/obras-realizadas/" />
          <add key="/eletropaulo-metropolitana-eletricidade-de-sao-paulo-sa" value="/obras-realizadas/" />
          <add key="/eletropaulo-metropolitana-eletricidade-de-sao-paulo-sa/" value="/obras-realizadas/" />
          <add key="/engemont" value="/obras-realizadas/" />
          <add key="/engemont/" value="/obras-realizadas/" />
          <add key="/engeset-engenharia-e-serv-de-telematicas-sa" value="/obras-realizadas/" />
          <add key="/engeset-engenharia-e-serv-de-telematicas-sa/" value="/obras-realizadas/" />
          <add key="/engibras-e-galvao-engenharia" value="/obras-realizadas/" />
          <add key="/engibras-e-galvao-engenharia/" value="/obras-realizadas/" />
          <add key="/gym-vale-azul-ltda" value="/obras-realizadas/" />
          <add key="/gym-vale-azul-ltda/" value="/obras-realizadas/" />
          <add key="/inelto-sa" value="/obras-realizadas/" />
          <add key="/inelto-sa/" value="/obras-realizadas/" />
          <add key="/mz-telecomunicacoes-ltda" value="/obras-realizadas/" />
          <add key="/mz-telecomunicacoes-ltda/" value="/obras-realizadas/" />
          <add key="/tele-redes" value="/obras-realizadas/" />
          <add key="/tele-redes/" value="/obras-realizadas/" />
          <add key="/telemont-engenharia-de-telecomunicacoes-sa" value="/obras-realizadas/" />
          <add key="/telemont-engenharia-de-telecomunicacoes-sa/" value="/obras-realizadas/" />
          <add key="/vectra-engenharia" value="/obras-realizadas/" />
          <add key="/vectra-engenharia/" value="/obras-realizadas/" />
          <add key="/home" value="/" />
          <add key="/home/" value="/" />
          <add key="/portfolio-types/obras" value="/obras-realizadas/" />
          <add key="/portfolio-types/obras/" value="/obras-realizadas/" />
        </rewriteMap>
      </rewriteMaps>
      <rules>
        <rule name="CanonicoWww" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^drcnet\.com\.br$" />
          </conditions>
          <action type="Redirect" url="https://www.drcnet.com.br/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Mapa301" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{Redirects301:{REQUEST_URI}}" pattern="(.+)" />
          </conditions>
          <action type="Redirect" url="{C:1}" appendQueryString="false" redirectType="Permanent" />
        </rule>
        <rule name="WpLegado" stopProcessing="true">
          <match url="^(wp-admin|wp-content|wp-includes|wp-json|wp-login\.php|xmlrpc\.php|feed)(/.*)?$" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
