<?xml version="1.0" encoding="UTF-8"?>
<!-- Produção IIS/Locaweb do site estático drcnet.com.br.
     Ignorado pelo GitHub Pages (prévia). Requisito: emitir Let's Encrypt
     no painel Locaweb ANTES da virada (menu Zona de DNS > Emitir Let's Encrypt). -->
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" path="/index.html" responseMode="ExecuteURL" />
    </httpErrors>
    <rewrite>
      <rules>
        <!-- canônico: sempre https://www. (mesmo padrão do site atual) -->
        <rule name="ForcarWWW" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^drcnet\.com\.br$" />
          </conditions>
          <action type="Redirect" url="https://www.drcnet.com.br/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="ForcarHTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://www.drcnet.com.br/{R:1}" redirectType="Permanent" />
        </rule>
        <!-- endpoints do WordPress que deixaram de existir -->
        <rule name="LegadoWP" stopProcessing="true">
          <match url="^(feed|comments/feed|wp-json|xmlrpc\.php|wp-login\.php|wp-admin)(/.*)?$" />
          <action type="Redirect" url="https://www.drcnet.com.br/" redirectType="Permanent" />
        </rule>
        <rule name="LegadoHome" stopProcessing="true">
          <match url="^home/?$" />
          <action type="Redirect" url="https://www.drcnet.com.br/" redirectType="Permanent" />
        </rule>
        <!-- páginas individuais de obra removidas (conteúdo consolidado em /obras-e-projetos/) -->
        <rule name="ObrasIndividuais" stopProcessing="true">
          <match url="^(portfolio-types(/.*)?|concessionaria-ecovias-dos-imigrantes-sa(-2)?|consorcio-encalso-sa-paulista-sempar|consorcio-engibras-criciuma|consorcio-sacsccg|construtel-projetos-e-construcoes-ltda|contreras-engenharia-e-construcoes|cosate-construcoes-saneamento-e-engenharia-ltda|elecnor-do-brasil-s-a|eletropaulo-metropolitana-eletricidade-de-sao-paulo-sa|engemont|engeset-engenharia-e-serv-de-telematicas-sa|engibras-e-galvao-engenharia|gym-vale-azul-ltda|inelto-sa|mz-telecomunicacoes-ltda|tele-redes|telemont-engenharia-de-telecomunicacoes-sa|vectra-engenharia)/?$" />
          <action type="Redirect" url="https://www.drcnet.com.br/obras-e-projetos/" redirectType="Permanent" />
        </rule>
        <!-- páginas de confirmação do Gravity Forms removidas (confirmação agora é inline) -->
        <rule name="EnviadoLegado" stopProcessing="true">
          <match url="^enviado-(sucesso|trabalhe-conosco)/?$" />
          <action type="Redirect" url="https://www.drcnet.com.br/" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
